include README.md
include LICENSE
recursive-include bin *.py
recursive-include default *.conf
recursive-include default *.csv
recursive-include lookups *.csv
recursive-include metadata default.meta
recursive-include static *
exclude .git
exclude .gitignore
exclude __pycache__
exclude *.pyc
exclude .DS_Store
